<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Deaf Grandma App</title>
  </head>
  <body>
    <h1>Deaf Grandma App</h1>
    <%= yield %>
  </body>
</html>
